In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Grabbing data from the csv file and telling Pandas that the data already contains an index column.
cd = pd.read_csv("C:/Users/cklni/Desktop/WGU/D206/churn_raw_data.csv", index_col= [0])

In [3]:
# checking for number of columns, columns with null values, and datatype of columns.
cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 51 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CaseOrder             10000 non-null  int64
 1   Customer_id           10000 non-null  object
 2   Interaction           10000 non-null  object
 3   City                  10000 non-null  object
 4   State                 10000 non-null  object
 5   County                10000 non-null  object
 6   Zip                   10000 non-null  int64
 7   Lat                   10000 non-null  float64
 8   Lng                   10000 non-null  float64
 9   Population            10000 non-null  int64
 10  Area                  10000 non-null  object
 11  Timezone              10000 non-null  object
 12  Job                   10000 non-null  object
 13  Children              7505 non-null   float64
 14  Age                   7525 non-null   float64
 15  Education             10000 non-null  object
 16  Employment            10000 non-null  object
 17  Income                7510 non-null   float64
 18  Marital               10000 non-null  object
 19  Gender                10000 non-null  object
 20  Churn                 10000 non-null  object
 21  Outage_sec_perweek    10000 non-null  float64
 22  Email                 10000 non-null  int64
 23  Contacts              10000 non-null  int64
 24  Yearly_equip_failure  10000 non-null  int64
 25  Techie                7523 non-null   object
 26  Contract              10000 non-null  object
 27  Port_modem            10000 non-null  object
 28  Tablet                10000 non-null  object
 29  InternetService       10000 non-null  object
 30  Phone                 8974 non-null   object
 31  Multiple              10000 non-null  object
 32  OnlineSecurity        10000 non-null  object
 33  OnlineBackup          10000 non-null  object
 34  DeviceProtection      10000 non-null  object
 35  TechSupport           9009 non-null   object
 36  StreamingTV           10000 non-null  object
 37  StreamingMovies       10000 non-null  object
 38  PaperlessBilling      10000 non-null  object
 39  PaymentMethod         10000 non-null  object
 40  Tenure                9069 non-null   float64
 41  MonthlyCharge         10000 non-null  float64
 42  Bandwidth_GB_Year     8979 non-null   float64
 43  item1                 10000 non-null  int64
 44  item2                 10000 non-null  int64
 45  item3                 10000 non-null  int64
 46  item4                 10000 non-null  int64
 47  item5                 10000 non-null  int64
 48  item6                 10000 non-null  int64
 49  item7                 10000 non-null  int64
 50  item8                 10000 non-null  int64
dtypes: float64(9), int64(14), object(28)
memory usage: 4.0+ MB

In [4]:
# this allows me to see all the columns when I run my dataset.
pd.set_option("display.max_columns", None)
# running my dataset to inspect visually for areas of concern
cd

,CaseOrder,Customer_id,Interaction,City,State,County,Zip,Lat,Lng,Population,Area,Timezone,Job,Children,Age,Education,Employment,Income,Marital,Gender,Churn,Outage_sec_perweek,Email,Contacts,Yearly_equip_failure,Techie,Contract,Port_modem,Tablet,InternetService,Phone,Multiple,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,PaymentMethod,Tenure,MonthlyCharge,Bandwidth_GB_Year,item1,item2,item3,item4,item5,item6,item7,item8
1,1,K409198,aa90260b-4141-4a24-8e36-b04ce1f4f77b,Point Baker,AK,Prince of Wales-Hyder,99927,56.25100,-133.37571,38,Urban,America/Sitka,Environmental health practitioner,NaN,68.0,Master's Degree,Part Time,28561.99,Widowed,Male,No,6.972566,10,0,1,No,One year,Yes,Yes,Fiber Optic,Yes,No,Yes,Yes,No,No,No,Yes,Yes,Credit Card (automatic),6.795513,171.449762,904.536110,5,5,5,3,4,4,3,4
2,2,S120509,fb76459f-c047-4a9d-8af9-e0f7d4ac2524,West Branch,MI,Ogemaw,48661,44.32893,-84.24080,10446,Urban,America/Detroit,"Programmer, multimedia",1.0,27.0,Regular High School Diploma,Retired,21704.77,Married,Female,Yes,12.014541,12,0,1,Yes,Month-to-month,No,Yes,Fiber Optic,Yes,Yes,Yes,No,No,No,Yes,Yes,Yes,Bank Transfer(automatic),1.156681,242.948015,800.982766,3,4,3,3,4,3,4,4
3,3,K191035,344d114c-3736-4be5-98f7-c72c281e2d35,Yamhill,OR,Yamhill,97148,45.35589,-123.24657,3735,Urban,America/Los_Angeles,Chief Financial Officer,4.0,50.0,Regular High School Diploma,Student,NaN,Widowed,Female,No,10.245616,9,0,1,Yes,Two Year,Yes,No,DSL,Yes,Yes,No,No,No,No,No,Yes,Yes,Credit Card (automatic),15.754144,159.440398,2054.706961,4,4,2,4,4,3,3,3
4,4,D90850,abfa2b40-2d43-4994-b15a-989b8c79e311,Del Mar,CA,San Diego,92014,32.96687,-117.24798,13863,Suburban,America/Los_Angeles,Solicitor,1.0,48.0,Doctorate Degree,Retired,18925.23,Married,Male,No,15.206193,15,2,0,Yes,Two Year,No,No,DSL,Yes,No,Yes,No,No,No,Yes,No,Yes,Mailed Check,17.087227,120.249493,2164.579412,4,4,4,2,5,4,3,3
5,5,K662701,68a861fd-0d20-4e51-a587-8a90407ee574,Needville,TX,Fort Bend,77461,29.38012,-95.80673,11352,Suburban,America/Chicago,Medical illustrator,0.0,83.0,Master's Degree,Student,40074.19,Separated,Male,Yes,8.960316,16,2,1,No,Month-to-month,Yes,No,Fiber Optic,No,No,No,No,No,Yes,Yes,No,No,Mailed Check,1.670972,150.761216,271.493436,4,4,4,3,4,4,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9996,9996,M324793,45deb5a2-ae04-4518-bf0b-c82db8dbe4a4,Mount Holly,VT,Rutland,5758,43.43391,-72.78734,640,Rural,America/New_York,Sport and exercise psychologist,3.0,NaN,"Some College, Less than 1 Year",Retired,55723.74,Married,Male,No,9.265392,12,2,0,NaN,Month-to-month,Yes,Yes,DSL,NaN,Yes,No,Yes,Yes,No,No,No,No,Electronic Check,68.197130,159.828800,6511.253000,3,2,3,3,4,3,2,3
9997,9997,D861732,6e96b921-0c09-4993-bbda-a1ac6411061a,Clarksville,TN,Montgomery,37042,36.56907,-87.41694,77168,Rural,America/Chicago,Consulting civil engineer,4.0,48.0,Regular High School Diploma,Part Time,NaN,Divorced,Male,No,8.115849,15,2,0,NaN,Two Year,No,No,Fiber Optic,NaN,Yes,Yes,Yes,Yes,No,Yes,No,No,Electronic Check,61.040370,208.856400,5695.952000,4,5,5,4,4,5,2,5
9998,9998,I243405,e8307ddf-9a01-4fff-bc59-4742e03fd24f,Mobeetie,TX,Wheeler,79061,35.52039,-100.44180,406,Rural,America/Chicago,IT technical support officer,NaN,NaN,Nursery School to 8th Grade,Full Time,NaN,Never Married,Female,No,4.837696,10,0,0,No,Month-to-month,No,No,Fiber Optic,Yes,Yes,Yes,Yes,No,No,No,No,Yes,Bank Transfer(automatic),NaN,168.220900,4159.306000,4,4,4,4,4,4,4,5
9999,9999,I641617,3775ccfc-0052-4107-81ae-9657f81ecdf3,Carrollton,GA,Carroll,30117,33.58016,-85.13241,35575,Urban,America/New_York,Water engineer,1.0,39.0,Bachelor's Degree,Full Time,16667.58,Separated,Male,No,12.076460,14,1,0,No,Two Year,No,Yes,Fiber Optic,No,Yes,No,No,No,Yes,Yes,Yes,Yes,Credit Card (automatic),71.095600,252.628600,6468.457000,4,4,6,4,3,3,5,4
10000,10000,T38070,9de5fb6e-bd33-4995-aec8-f01d0172a499,Clarkesville,GA,Habersham,30523,34.70783,-83.53648,12230,Urban,America/New_York,Personal assistant,1.0,28.0,GED or Alternative Credential,Full Time,NaN,Never Married,Male,No,12.641760,17,1,0,NaN,Month-to-month,Yes,No,Fiber Optic,Yes,Yes,Yes,Yes,Yes,No,No,Yes,Yes,Electronic Check,63.350860,218.371000,5857.586000,2,2,3,3,3,3,4,1

In [5]:
#Checking CaseOrder for 10,000 unique responses.
cd.CaseOrder.nunique()

10000

In [6]:
#Checking Customer_id for 10,000 unique responses.
cd.Customer_id.nunique()

10000

In [7]:
#Checking Interaction for 10,000 unique responses.
cd.Interaction.nunique()

10000

In [8]:
#Checking the count of each value for City, done for completionism as does not give much useful information and the null values are more important for this coulumn. 
cd.City.value_counts()

Houston         34
New York        24
Springfield     23
Buffalo         23
San Antonio     22
                ..
Cottontown       1
San Dimas        1
Fort Hill        1
Webster          1
Clarkesville     1
Name: City, Length: 6058, dtype: int64

In [9]:
#Checking to make sure State does not have more than 50.
cd.State.nunique()

52

In [10]:
#Checking the value counts for State to see why they have more than 50 unique States.
cd.State.value_counts()

TX    603
NY    558
PA    550
CA    526
IL    413
OH    359
FL    324
MO    310
VA    285
NC    280
IA    279
MI    279
MN    264
WV    247
IN    241
GA    238
KY    238
WI    228
OK    203
KS    195
NJ    190
TN    185
AL    181
NE    181
AR    176
WA    175
MA    172
CO    155
LA    141
MS    126
SC    124
MD    123
ND    118
NM    114
OR    114
AZ    112
ME    112
SD    101
MT     96
NH     85
VT     84
ID     81
AK     77
CT     71
UT     66
NV     48
WY     43
PR     40
HI     35
DE     21
RI     19
DC     14
Name: State, dtype: int64

In [11]:
#The reason State has more than 50 is because it includes DC and PR, which I am assuming stand for Washington D.C. and Puerto Rico.

In [12]:
#Checking the count of each value for County, done for completionism as does not give much useful information and the null values are more important for this coulumn. 
cd.County.value_counts()

Washington     111
Jefferson      100
Montgomery      99
Franklin        92
Los Angeles     91
              ...
Rooks            1
Cochise          1
Yauco            1
Hoke             1
Briscoe          1
Name: County, Length: 1620, dtype: int64

In [13]:
#Checking the count of each value for Zip, done for completionism as does not give much useful information and the null values are more important for this coulumn and I noticed an issue when inspecting visually that I believe is leading 0's being dropped off. 
cd.Zip.value_counts()

32340    4
75077    4
44310    4
61764    4
16115    4
        ..
43788    1
58579    1
53526    1
79104    1
30523    1
Name: Zip, Length: 8583, dtype: int64

In [14]:
#Checking Lat for outliers and datatype fit.
cd.Lat.describe()

count    10000.000000
mean        38.757567
std          5.437389
min         17.966120
25%         35.341828
50%         39.395800
75%         42.106908
max         70.640660
Name: Lat, dtype: float64

In [15]:
#The min and max for Lat both are identified as outliers according to z-values, but both are valid because of customers in Alaska and Puerto Rico.

In [16]:
#Checking Lng for outliers and datatype fit.
cd.Lng.describe()

count    10000.000000
mean       -90.782536
std         15.156142
min       -171.688150
25%        -97.082812
50%        -87.918800
75%        -80.088745
max        -65.667850
Name: Lng, dtype: float64

In [17]:
#The min for Lng is identified as an outliers according to z-values, but is valid because of customers in Alaska.

In [18]:
#Checking Population for outliers and datatype fit.
cd.Population.describe()

count     10000.000000
mean       9756.562400
std       14432.698671
min           0.000000
25%         738.000000
50%        2910.500000
75%       13168.000000
max      111850.000000
Name: Population, dtype: float64

In [19]:
#The max for Population is identified as an outliers according to z-values, but is valid because of customers living in big cities could have that many people within a mile radius.

In [20]:
#Checking Area for values stated in the data dictionary.
cd.Area.value_counts()

Suburban    3346
Urban       3327
Rural       3327
Name: Area, dtype: int64

In [21]:
#Checking Timezone for value counts and datatype fit.
cd.Timezone.value_counts()

America/New_York                  4072
America/Chicago                   3672
America/Los_Angeles                887
America/Denver                     552
America/Detroit                    265
America/Indiana/Indianapolis       186
America/Phoenix                    104
America/Boise                       57
America/Anchorage                   55
America/Puerto_Rico                 40
Pacific/Honolulu                    35
America/Menominee                   16
America/Nome                        12
America/Kentucky/Louisville         10
America/Sitka                        8
America/Indiana/Vincennes            6
America/Indiana/Tell_City            6
America/Toronto                      5
America/Indiana/Petersburg           4
America/Juneau                       2
America/North_Dakota/New_Salem       2
America/Indiana/Knox                 1
America/Indiana/Winamac              1
America/Indiana/Marengo              1
America/Ojinaga                      1
Name: Timezone, dtype: int64

In [22]:
#Timezone should be condensed into the proper time zone's name.

In [23]:
#Checking the count of each value for Job, done for completionism as does not give much useful information and the null values are more important for this coulumn.
cd.Job.value_counts()

Occupational psychologist               30
Comptroller                             28
Hospital pharmacist                     28
Horticultural therapist                 28
Ranger/warden                           27
                                        ..
Control and instrumentation engineer     6
Travel agency manager                    6
Accountant, chartered certified          6
Arboriculturist                          6
Toxicologist                             6
Name: Job, Length: 639, dtype: int64

In [24]:
#Checking Children for outliers and datatype fit.
cd.Children.describe()

count    7505.000000
mean        2.095936
std         2.154758
min         0.000000
25%         0.000000
50%         1.000000
75%         3.000000
max        10.000000
Name: Children, dtype: float64

In [25]:
#The max for Children is identified as an outliers according to z-values, but is valid because ten children is not unreasonable. Also, the datatype is not a good fit because you can not have fractions of a person. The null values here need to be addressed.

In [26]:
#Checking Age for outliers and datatype fit.
cd.Age.describe()

count    7525.000000
mean       53.275748
std        20.753928
min        18.000000
25%        35.000000
50%        53.000000
75%        71.000000
max        89.000000
Name: Age, dtype: float64

In [27]:
#The datatype is not a good fit. The null values here need to be addressed.

In [28]:
#Checking Education for value counts and datatype fit.
cd.Education.value_counts()

Regular High School Diploma                 2421
Bachelor's Degree                           1703
Some College, 1 or More Years, No Degree    1562
9th Grade to 12th Grade, No Diploma          870
Master's Degree                              764
Associate's Degree                           760
Some College, Less than 1 Year               652
Nursery School to 8th Grade                  449
GED or Alternative Credential                387
Professional School Degree                   198
No Schooling Completed                       118
Doctorate Degree                             116
Name: Education, dtype: int64

In [29]:
#Checking Employment for value counts and datatype fit.
cd.Employment.value_counts()

Full Time     5992
Part Time     1042
Retired       1011
Unemployed     991
Student        964
Name: Employment, dtype: int64

In [30]:
#Checking Income for outliers and datatype fit.
cd.Income.describe()

count      7510.000000
mean      39936.762226
std       28358.469482
min         740.660000
25%       19285.522500
50%       33186.785000
75%       53472.395000
max      258900.700000
Name: Income, dtype: float64

In [31]:
#The max for Income is identified as an outliers according to z-values, but is valid because people make that level of income. Also, the datatype is not a good fit.

In [32]:
#Checking Marital for value counts and datatype fit.
cd.Marital.value_counts()

Divorced         2092
Widowed          2027
Separated        2014
Never Married    1956
Married          1911
Name: Marital, dtype: int64

In [33]:
#Checking Gender for value counts and datatype fit.
cd.Gender.value_counts()

Female                  5025
Male                    4744
Prefer not to answer     231
Name: Gender, dtype: int64

In [34]:
#Values do not reflect the values stated in the data dictionary.

In [35]:
#Checking Churn for value counts and datatype fit.
cd.Churn.value_counts()

No     7350
Yes    2650
Name: Churn, dtype: int64

In [36]:
#Checking Outage_sec_perweek for outliers and datatype fit.
cd.Outage_sec_perweek.describe()

count    10000.000000
mean        11.452955
std          7.025921
min         -1.348571
25%          8.054362
50%         10.202896
75%         12.487644
max         47.049280
Name: Outage_sec_perweek, dtype: float64

In [37]:
#Negative values should not exist for this as the lowest average system outage would be 0. Checking to see if they have multiple with this issue.
cd.Outage_sec_perweek.nsmallest(n=15)

4168   -1.348571
1905   -1.195428
4428   -1.099934
6094   -0.787115
6578   -0.527396
4185   -0.352431
1998   -0.339214
8195   -0.214328
3070   -0.206145
3630   -0.152845
6464   -0.144644
7340    0.113821
909     0.169351
4698    0.278712
7071    0.359073
Name: Outage_sec_perweek, dtype: float64

In [38]:
#The max for Outage_sec_perweek is identified as an outliers according to z-values, but is valid because an average of 47 seconds a week is not unreasonable for an outage. Also, the datatype is not a good fit.

In [39]:
#Checking Email for outliers and datatype fit.
cd.Email.describe()

count    10000.000000
mean        12.016000
std          3.025898
min          1.000000
25%         10.000000
50%         12.000000
75%         14.000000
max         23.000000
Name: Email, dtype: float64

In [40]:
#The min and max for Email both are identified as outliers according to z-values, but both are valid because of some customers needing more correspondence and some may request to be email as least as possible. Datatype can be changed to be more efficent.

In [41]:
#Checking Contacts for outliers and datatype fit.
cd.Contacts.describe()

count    10000.000000
mean         0.994200
std          0.988466
min          0.000000
25%          0.000000
50%          1.000000
75%          2.000000
max          7.000000
Name: Contacts, dtype: float64

In [42]:
#The max for Contacts is identified as outliers according to z-values, but is a reasonable amount to contact technical support. Datatype is not a good fit.

In [43]:
#Checking Yearly_equip_failure for outliers and datatype fit.
cd.Yearly_equip_failure.describe()

count    10000.000000
mean         0.398000
std          0.635953
min          0.000000
25%          0.000000
50%          0.000000
75%          1.000000
max          6.000000
Name: Yearly_equip_failure, dtype: float64

In [44]:
#The max for Yearly_equip_failure is identified as outliers according to z-values, but is a reasonable amount to of failed equipment in a year. Datatype is not a good fit.

In [45]:
#Checking Techie for value counts and datatype fit.
cd.Techie.value_counts()

No     6266
Yes    1257
Name: Techie, dtype: int64

In [46]:
#Null values need to be looked into

In [47]:
#Checking Contract for value counts and datatype fit.
cd.Contract.value_counts()

Month-to-month    5456
Two Year          2442
One year          2102
Name: Contract, dtype: int64

In [48]:
#Checking Port_modem for value counts and datatype fit.
cd.Port_modem.value_counts()

No     5166
Yes    4834
Name: Port_modem, dtype: int64

In [49]:
#Checking Tablet for value counts and datatype fit.
cd.Tablet.value_counts()

No     7009
Yes    2991
Name: Tablet, dtype: int64

In [50]:
#Checking InternetService for value counts and datatype fit.
cd.InternetService.value_counts()

Fiber Optic    4408
DSL            3463
None           2129
Name: InternetService, dtype: int64

In [51]:
#Checking Phone for value counts and datatype fit.
cd.Phone.value_counts()

Yes    8128
No      846
Name: Phone, dtype: int64

In [52]:
#Checking Multiple for value counts and datatype fit.
cd.Multiple.value_counts()

No     5392
Yes    4608
Name: Multiple, dtype: int64

In [53]:
#Checking OnlineSecurity for value counts and datatype fit.
cd.OnlineSecurity.value_counts()

No     6424
Yes    3576
Name: OnlineSecurity, dtype: int64

In [54]:
#Checking DeviceProtection for value counts and datatype fit.
cd.DeviceProtection.value_counts()

No     5614
Yes    4386
Name: DeviceProtection, dtype: int64

In [55]:
#Checking TechSupport for value counts and datatype fit.
cd.TechSupport.value_counts()

No     5635
Yes    3374
Name: TechSupport, dtype: int64

In [56]:
#Checking StreamingTV for value counts and datatype fit.
cd.StreamingTV.value_counts()

No     5071
Yes    4929
Name: StreamingTV, dtype: int64

In [57]:
#Checking StreamingMovies for value counts and datatype fit.
cd.StreamingMovies.value_counts()

No     5110
Yes    4890
Name: StreamingMovies, dtype: int64

In [58]:
#Checking PaperlessBilling for value counts and datatype fit.
cd.PaperlessBilling.value_counts()

Yes    5882
No     4118
Name: PaperlessBilling, dtype: int64

In [59]:
#Checking PaymentMethod for value counts and datatype fit.
cd.PaymentMethod.value_counts()

Electronic Check            3398
Mailed Check                2290
Bank Transfer(automatic)    2229
Credit Card (automatic)     2083
Name: PaymentMethod, dtype: int64

In [60]:
#Checking Tenure for outliers and datatype fit.
cd.Tenure.describe()

count    9069.000000
mean       34.498858
std        26.438904
min         1.000259
25%         7.890442
50%        36.196030
75%        61.426670
max        71.999280
Name: Tenure, dtype: float64

In [61]:
#Datatype is not a good fit.

In [62]:
#Checking MonthlyCharge for outliers and datatype fit.
cd.MonthlyCharge.describe()

count    10000.000000
mean       174.076305
std         43.335473
min         77.505230
25%        141.071078
50%        169.915400
75%        203.777441
max        315.878600
Name: MonthlyCharge, dtype: float64

In [63]:
#The max for MonthlyCharge is identified as outliers according to z-values, but can be explained with the services and any overages that the company may charge. Datatype is not a good fit.

In [64]:
#Checking Bandwidth_GB_Year for outliers and datatype fit.
cd.Bandwidth_GB_Year.describe()

count    8979.000000
mean     3398.842752
std      2187.396807
min       155.506715
25%      1234.110529
50%      3382.424000
75%      5587.096500
max      7158.982000
Name: Bandwidth_GB_Year, dtype: float64

In [65]:
#Checking item1 for value counts and datatype fit.
cd.item1.value_counts()

3    3448
4    3358
2    1393
5    1359
1     224
6     199
7      19
Name: item1, dtype: int64

In [66]:
#Checking item2 for value counts and datatype fit.
cd.item2.value_counts()

3    3415
4    3412
5    1368
2    1360
1     217
6     215
7      13
Name: item2, dtype: int64

In [67]:
#Checking item3 for value counts and datatype fit.
cd.item3.value_counts()

3    3435
4    3410
2    1424
5    1313
6     203
1     202
7      12
8       1
Name: item3, dtype: int64

In [68]:
#Checking item4 for value counts and datatype fit.
cd.item4.value_counts()

4    3452
3    3430
2    1350
5    1335
1     221
6     203
7       9
Name: item4, dtype: int64

In [69]:
#Checking item5 for value counts and datatype fit.
cd.item5.value_counts()

3    3462
4    3417
2    1378
5    1321
1     206
6     204
7      12
Name: item5, dtype: int64

In [70]:
#Checking item6 for value counts and datatype fit.
cd.item6.value_counts()

3    3445
4    3333
2    1427
5    1382
6     210
1     190
7      12
8       1
Name: item6, dtype: int64

In [71]:
#Checking item7 for value counts and datatype fit.
cd.item7.value_counts()

4    3456
3    3446
5    1335
2    1309
6     224
1     219
7      11
Name: item7, dtype: int64

In [72]:
#Checking item8 for value counts and datatype fit.
cd.item8.value_counts()

3    3461
4    3400
2    1378
5    1335
1     206
6     205
7      14
8       1
Name: item8, dtype: int64