In [66]:
import pandas as pd 
import numpy as np

In [67]:
# Grabbing data from the csv file and telling Pandas that the data already contains an index column.
cd = pd.read_csv("C:/Users/cklni/Desktop/WGU/D206/churn_raw_data.csv", index_col= [0])

In [68]:
#Imputing median for null values for Children
cd["Children"] = cd["Children"].fillna(cd["Children"].median())

In [69]:
#Imputing median for null values for Age
cd["Age"] = cd["Age"].fillna(cd["Age"].median())

In [70]:
#Imputing median for null values for Income
cd["Income"] = cd["Income"].fillna(cd["Income"].median())

In [71]:
#Imputing median for null values for Tenure
cd["Tenure"] = cd["Tenure"].fillna(cd["Tenure"].median())

In [72]:
#Imputing median for null values for Bandwidth_GB_Year
cd["Bandwidth_GB_Year"] = cd["Bandwidth_GB_Year"].fillna(cd["Bandwidth_GB_Year"].median())

In [73]:
#Imputing mode for null values for Techie
cd["Techie"] = cd["Techie"].fillna(cd["Techie"].mode())

In [74]:
#Imputing mode for null values for Phone
cd["Phone"] = cd["Phone"].fillna(cd["Phone"].mode())

In [75]:
#Imputing mode for null values for TechSupport
cd["TechSupport"] = cd["TechSupport"].fillna(cd["TechSupport"].mode())

In [76]:
#Chaning Zip column's datatype to strings and requiring it have 5 characters
cd['Zip'] = cd['Zip'].astype("str").str.zfill(5)

In [77]:
#Chaning Area column's datatype to category
cd['Area'] = cd['Area'].astype("category")

In [78]:
# Running a value count on Timezone to gather the values that will need to be changed into actual time zones.
cd.Timezone.value_counts()

America/New_York                  4072
America/Chicago                   3672
America/Los_Angeles                887
America/Denver                     552
America/Detroit                    265
America/Indiana/Indianapolis       186
America/Phoenix                    104
America/Boise                       57
America/Anchorage                   55
America/Puerto_Rico                 40
Pacific/Honolulu                    35
America/Menominee                   16
America/Nome                        12
America/Kentucky/Louisville         10
America/Sitka                        8
America/Indiana/Vincennes            6
America/Indiana/Tell_City            6
America/Toronto                      5
America/Indiana/Petersburg           4
America/Juneau                       2
America/North_Dakota/New_Salem       2
America/Indiana/Knox                 1
America/Indiana/Winamac              1
America/Indiana/Marengo              1
America/Ojinaga                      1
Name: Timezone, dtype: int64

In [79]:
#Changing the values in Timezone to reflect the real time zones
cd.Timezone.replace({
    #Eastern Time Zone 
    "America/New_York" : "Eastern",
    "America/Detroit" : "Eastern",
    "America/Indiana/Indianapolis" : "Eastern",
    "America/Indiana/Vincennes" : "Eastern",
    "America/Kentucky/Louisville" : "Eastern",
    "America/Indiana/Winamac" : "Eastern",
    "America/Toronto" : "Eastern",
    "America/Indiana/Petersburg" : "Eastern",
    "America/Indiana/Marengo" : "Eastern",
    #Central Time Zone
    "America/Chicago" : "Central",
    "America/Menominee" : "Central",
    "America/Indiana/Tell_City" : "Central",
    "America/North_Dakota/New_Salem" : "Central",
    "America/Indiana/Knox" : "Central",
    "America/Ojinaga" : "Central",
    #Pacific Time Zone 
    "America/Los_Angeles" : "Pacific",
    #Mountain Time Zone
    "America/Denver" : "Mountain",
    "America/Phoenix" : "Mountain",
    "America/Boise" : "Mountain",
    #Alaska Time Zone
    "America/Anchorage" : "Alaska",
    "America/Nome" : "Alaska",
    "America/Juneau" : "Alaska",
    "America/Sitka" : "Alaska",
    #Atlantic Time Zone
    "America/Puerto_Rico" : "Atlantic",
    #Hawaii-Aleutian Time Zone
    "Pacific/Honolulu" : "Hawaii-Aleutian"
    }, inplace=True)

In [80]:
#Changing Timezone column's datatype to category
cd["Timezone"] = cd["Timezone"].astype("category")

In [81]:
#Changing Education column's datatype to category
cd["Education"] = cd["Education"].astype("category")

In [82]:
#Changing Employment column's datatype to category
cd["Employment"] = cd["Employment"].astype("category")

In [83]:
#Changing Marital column's datatype to category
cd["Marital"] = cd["Marital"].astype("category")

In [84]:
#Changing Gender column's datatype to category
cd["Gender"] = cd["Gender"].astype("category")

In [85]:
#Changing Contract column's datatype to category
cd["Contract"] = cd["Contract"].astype("category")

In [86]:
#Changing InternetService column's datatype to category
cd["InternetService"] = cd["InternetService"].astype("category")

In [87]:
#Chaning item1 column's datatype to category
cd["item1"] = cd["item1"].astype("category")

In [88]:
#Chaning item2 column's datatype to category
cd["item2"] = cd["item2"].astype("category")

In [89]:
#Chaning item3 column's datatype to category
cd["item3"] = cd["item3"].astype("category")

In [90]:
#Chaning item4 column's datatype to category
cd["item4"] = cd["item4"].astype("category")

In [91]:
#Chaning item5 column's datatype to category
cd["item5"] = cd["item5"].astype("category")

In [92]:
#Chaning item6 column's datatype to category
cd["item6"] = cd["item6"].astype("category")

In [93]:
#Chaning item7 column's datatype to category
cd["item7"] = cd["item7"].astype("category")

In [94]:
#Chaning item8 column's datatype to category
cd["item8"] = cd["item8"].astype("category")

In [95]:
#Mapping Churn's responses to be able to change into boolean
cd["Churn"] = cd["Churn"].map({"Yes": True, "No": False})

In [96]:
#Changing Churn column's datatype to boolean
cd["Churn"] = cd["Churn"].astype("bool")

In [97]:
#Mapping Techie's responses to be able to change into boolean
cd["Techie"] = cd["Techie"].map({"Yes": True, "No": False})

In [98]:
#Changing Techie column's datatype to boolean
cd["Techie"] = cd["Techie"].astype("bool")

In [99]:
#Mapping Port_modem's responses to be able to change into boolean
cd["Port_modem"] = cd["Port_modem"].map({"Yes": True, "No": False})

In [100]:
#Changing Port_modem column's datatype to boolean
cd["Port_modem"] = cd["Port_modem"].astype("bool")

In [101]:
#Mapping Tablet's responses to be able to change into boolean
cd["Tablet"] = cd["Tablet"].map({"Yes": True, "No": False})

In [102]:
#Changing Tablet column's datatype to boolean
cd["Tablet"] = cd["Tablet"].astype("bool")

In [103]:
#Mapping Phone's responses to be able to change into boolean
cd["Phone"] = cd["Phone"].map({"Yes": True, "No": False})

In [104]:
#Changing Phone column's datatype to boolean
cd["Phone"] = cd["Phone"].astype("bool")

In [105]:
#Mapping Multiple's responses to be able to change into boolean
cd["Multiple"] = cd["Multiple"].map({"Yes": True, "No": False})

In [106]:
#Changing Multiple column's datatype to boolean
cd["Multiple"] = cd["Multiple"].astype("bool")

In [107]:
#Mapping OnlineSecurity's responses to be able to change into boolean
cd["OnlineSecurity"] = cd["OnlineSecurity"].map({"Yes": True, "No": False})

In [108]:
#Changing OnlineSecurity column's datatype to boolean
cd["OnlineSecurity"] = cd["OnlineSecurity"].astype("bool")

In [109]:
#Mapping OnlineBackup's responses to be able to change into boolean
cd["OnlineBackup"] = cd["OnlineBackup"].map({"Yes": True, "No": False})

In [110]:
#Changing OnlineBackup column's datatype to boolean
cd["OnlineBackup"] = cd["OnlineBackup"].astype("bool")

In [111]:
#Mapping DeviceProtection's responses to be able to change into boolean
cd["DeviceProtection"] = cd["DeviceProtection"].map({"Yes": True, "No": False})

In [112]:
#Changing DeviceProtection column's datatype to boolean
cd["DeviceProtection"] = cd["DeviceProtection"].astype("bool")

In [113]:
#Mapping TechSupport's responses to be able to change into boolean
cd["TechSupport"] = cd["TechSupport"].map({"Yes": True, "No": False})

In [114]:
#Changing TechSupport column's datatype to boolean
cd["TechSupport"] = cd["TechSupport"].astype("bool")

In [115]:
#Mapping StreamingTV's responses to be able to change into boolean
cd["StreamingTV"] = cd["StreamingTV"].map({"Yes": True, "No": False})

In [116]:
#Changing StreamingTV column's datatype to boolean
cd["StreamingTV"] = cd["StreamingTV"].astype("bool")

In [117]:
#Mapping StreamingMovies's responses to be able to change into boolean
cd["StreamingMovies"] = cd["StreamingMovies"].map({"Yes": True, "No": False})

In [118]:
#Changing StreamingMovies column's datatype to boolean
cd["StreamingMovies"] = cd["StreamingMovies"].astype("bool")

In [119]:
#Mapping PaperlessBilling's responses to be able to change into boolean
cd["PaperlessBilling"] = cd["PaperlessBilling"].map({"Yes": True, "No": False})

In [120]:
#Changing PaperlessBilling column's datatype to boolean
cd["PaperlessBilling"] = cd["PaperlessBilling"].astype("bool")

In [121]:
#Changing Children column's datatype to integer
cd["Children"] = cd["Children"].astype("int64")

In [122]:
#Changing Age column's datatype to integer
cd["Age"] = cd["Age"].astype("int64")

In [123]:
#Changing Tenure column's datatype to integer
cd["Tenure"] = cd["Tenure"].astype("int64")

In [124]:
#Changing MonthlyCharge to only include two decimal places
cd["MonthlyCharge"] = cd.MonthlyCharge.round(2)

In [125]:
#Changing Bandwidth_GB_Year to only include two decimal places
cd["Bandwidth_GB_Year"] = cd.Bandwidth_GB_Year.round(2)

In [126]:
#Dropping column Outage_sec_perweek
cd = cd.drop(columns= ["Outage_sec_perweek"])

In [127]:
#Creating new column names
column_names = ["case_order", "customer_id", "uid", "city", "state", "county", 
                    "zip_code", "latitude", "longitude", "population", "area_type", "timezone", "job", "children", 
                    "age", "education", "employment_status", "income", "marital_status", "gender", "churn", 
                    "email_sent", "tech_support_contact", "yearly_equip_failure", "techie", "contract", "portable_modem", 
                    "tablet", "internet_service", "phone", "multiple", "online_security", "online_backup", "device_protection", 
                    "tech_support", "streaming_tv", "streaming_movies", "paperless_billing", "payment_method", "tenure", 
                    "monthly_charge", "bandwidth_gb_year", "item1_timely_response", "item2_timely_fixes", 
                    "item3_timely_replacements", "item4_reliability", "item5_options", "item6_respectful_response", "item7_courteous_exchange", 
                    "item8_active_listening"]

In [128]:
#Replacing the column names with new ones
cd.set_axis(column_names, axis=1, inplace=True)

C:\Users\cklni\AppData\Local\Temp\ipykernel_4464\907905071.py:2: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  cd.set_axis(column_names, axis=1, inplace=True)

In [129]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 1 to 10000
Data columns (total 50 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   case_order                 10000 non-null  int64
 1   customer_id                10000 non-null  object
 2   uid                        10000 non-null  object
 3   city                       10000 non-null  object
 4   state                      10000 non-null  object
 5   county                     10000 non-null  object
 6   zip_code                   10000 non-null  object
 7   latitude                   10000 non-null  float64
 8   longitude                  10000 non-null  float64
 9   population                 10000 non-null  int64
 10  area_type                  10000 non-null  category
 11  timezone                   10000 non-null  category
 12  job                        10000 non-null  object
 13  children                   10000 non-null  int64
 14  age                        10000 non-null  int64
 15  education                  10000 non-null  category
 16  employment_status          10000 non-null  category
 17  income                     10000 non-null  float64
 18  marital_status             10000 non-null  category
 19  gender                     10000 non-null  category
 20  churn                      10000 non-null  bool
 21  email_sent                 10000 non-null  int64
 22  tech_support_contact       10000 non-null  int64
 23  yearly_equip_failure       10000 non-null  int64
 24  techie                     10000 non-null  bool
 25  contract                   10000 non-null  category
 26  portable_modem             10000 non-null  bool
 27  tablet                     10000 non-null  bool
 28  internet_service           10000 non-null  category
 29  phone                      10000 non-null  bool
 30  multiple                   10000 non-null  bool
 31  online_security            10000 non-null  bool
 32  online_backup              10000 non-null  bool
 33  device_protection          10000 non-null  bool
 34  tech_support               10000 non-null  bool
 35  streaming_tv               10000 non-null  bool
 36  streaming_movies           10000 non-null  bool
 37  paperless_billing          10000 non-null  bool
 38  payment_method             10000 non-null  object
 39  tenure                     10000 non-null  int64
 40  monthly_charge             10000 non-null  float64
 41  bandwidth_gb_year          10000 non-null  float64
 42  item1_timely_response      10000 non-null  category
 43  item2_timely_fixes         10000 non-null  category
 44  item3_timely_replacements  10000 non-null  category
 45  item4_reliability          10000 non-null  category
 46  item5_options              10000 non-null  category
 47  item6_respectful_response  10000 non-null  category
 48  item7_courteous_exchange   10000 non-null  category
 49  item8_active_listening     10000 non-null  category
dtypes: bool(13), category(16), float64(5), int64(8), object(8)
memory usage: 2.0+ MB

In [130]:
cd.to_csv("C:/Users/cklni/Desktop/WGU/D206/clean_churn.csv", index=False)